<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.duokr.goquicklearn"
    android:versionCode="8"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <!-- 有米传媒 Android SDK 所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 可选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- /有米传媒 Android SDK 所需权限 -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="net.duokr.goquicklearn.activity.CourseListMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.duokr.goquicklearn.activity.ContentViewActivity"
            android:label="@string/activity_content_view_title"
            android:parentActivityName="net.duokr.goquicklearn.activity.CourseListMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.duokr.goquicklearn.activity.CourseListMainActivity" />
        </activity>
        <activity
            android:name="net.duokr.goquicklearn.activity.AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName="net.duokr.goquicklearn.activity.CourseListMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.duokr.goquicklearn.activity.CourseListMainActivity" />
        </activity>
        <activity
            android:name="net.duokr.goquicklearn.activity.MyProfileActivity"
            android:label="@string/my_profile"
            android:parentActivityName="net.duokr.goquicklearn.activity.CourseListMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.duokr.goquicklearn.activity.CourseListMainActivity" />
        </activity>
        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.AdReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- /SDK 必须配置 -->


        <!-- SmartBanner广告必须配置 -->
        <activity
            android:name="net.youmi.android.SmartBannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Transparent" >
        </activity>

        <service
            android:name="net.youmi.android.SmartBannerService"
            android:exported="false" >
        </service>
        <!-- /SmartBanner广告必须配置 -->
        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="xiaomi"
            android:value="10440" >
        </meta-data>
        <!-- /有米渠道号(可选配置) -->
        <!-- /有米传媒 Android SDK 配置 -->

    </application>

</manifest>